
body {
  background: url('../img/bkgrd_sun.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #d0c7b3;
  padding-top: 30px
}
.container a {
  color: #88653c;
}
.container a:hover {
  color: #88653c;
  font-weight: bold;
  text-decoration: none;
}
.container a:active {
  color: #88653c;
}
}
.sidebar {
  float: left;
}
.sidebar image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.sidebar p {
  padding-top: 10px;
}
.nav {
  padding-top: 10px;
}
.nav a {
  float: right;
}
.mission {
  float: right;
  padding-top: 20px;
}
.mission p {
  font-family: cursive;
  font-weight: bold;
  font-size: 1.25em;
  color: #5d523f;
  padding-top: 10px;
}
.mission a:hover {
  font-weight: bold;
  color: #b9b660;
}
.pane {
  padding-top: 60px;
}
.pane img {
  display: inline;
  padding-right: 20px;
}
.pane p {
  padding-top: 10px
}
.pane ul {
  color: #88653c;
}
.pane li {
  color: #88653c;
  line-height: 1.75em;
}
.pane h4 {
    color: #88653c;
    font-weight: bold;
}
.pane h4 a:active {
  font-style: italic;
}
.pane h4 a:hover {
  font-style: italic;
}
.about {
  color: #88653c;
  background-color: #e9e6d7;
  margin-top: 30px;
  padding-top: 25px;
}
.about a:hover {
  font-weight: bold;
}
.FamilyP p {
  padding-left: 20px;
  background-color: #e9e6d7;
}
.FamilyP h4 {
  padding-left: 20px;
}
.tetonP p {
  padding-right: 150px;
  background-color: #e9e6d7;
}
#epicodusWork img {
  height: 200px;
  float: left;
  padding-right: 60px;
  padding-bottom: 20px;
}
#package img {
  height: 200px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
#Family img {
  height: 250px;
  padding-left: 20px;
}
#Summit img {
  height: 250px;
}
#mazamaLogo img {
  width: 100px;
  padding-left: 30px;
  padding-top: 20px;
}
#work img {
  width: 170px;
  float: left;
  padding-right: 20px;
}
#mazama img {
  width: 160px;
  float: left;
  padding-right: 40px;
}
#epicodus img {
  width: 230px;
}
#epicodus h4 {
  padding-top: 20px;
  padding-left: 25px;
}
.footer {
  color: #7D3E1C;
  float: left;
  padding-top: 100px;
}
.footer a {
  color: #7D3E1C;
}
.footer a:active {
  color: #7D3E1C;
}
.footer a:hover {
  font-weight: bold;
  text-decoration: none;
}
.icon img {
  padding-right: 10px;
  height: 35px;
  padding-bottom: 15px;
}
